<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Taste Click - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
    <div class="logo">
      <img src="static/logo.png" alt="Taste Click Logo" />
      <div>
        <h1>Taste Click</h1>
        <p>FOOD & DRINK</p>
      </div>
    </div>
    <nav>
      <a href="index.html">Menu</a>
      <a href="about.html">About</a>
      <a href="cart.html">Cart</a>
    </nav>
  </header>


  <main>
    <section>
      <h2>Breakfast</h2>
      <div class="product-grid">
        <div class="product" onclick="goToProduct('Bagel')">
          <img src="static/bagel.png" alt="Bagel" />
          <p>Bagel<br />$2.50</p>
        </div>
        <div class="product" onclick="goToProduct1('Croissant')">
          <img src="static/croissant.png" alt="Croissant" />
          <p>Croissant<br />$2.00</p>
        </div>
        <div class="product" onclick="goToProduct2('Omelette')">
          <img src="static/omelette.png" alt="Omelette" />
          <p>Omelette<br />$4.50</p>
        </div>
      </div>
    </section>


    <section>
      <h2>Sandwiches</h2>
      <div class="product-grid">
        <div class="product" onclick="goToProduct3('Ham & Cheese')">
          <img src="static/hamcheese.png" alt="Ham & Cheese" />
          <p>Ham & Cheese<br />$4.00</p>
        </div>
        <div class="product" onclick="goToProduct4('BLT')">
          <img src="static/blt.png" alt="BLT" />
          <p>BLT<br />$5.50</p>
        </div>
        <div class="product" onclick="goToProduct5('Turkey Melt')">
          <img src="static/turkey.png" alt="Turkey Melt" />
          <p>Turkey Melt<br />$5.00</p>
        </div>
      </div>
    </section>


    <section>
      <h2>Soups</h2>
      <div class="product-grid">
        <div class="product" onclick="goToProduct6('Chicken Noodle')">
          <img src="static/chicken_noodle.png" alt="Chicken Noodle" />
          <p>Chicken Noodle<br />$3.00</p>
        </div>
        <div class="product" onclick="goToProduct7('Italian Wedding')">
          <img src="static/italian_wedding.png" alt="Italian Wedding" />
          <p>Italian Wedding<br />$4.00</p>
        </div>
        <div class="product" onclick="goToProduct8('Tomato')">
          <img src="static/tomato.png" alt="Tomato" />
          <p>Tomato<br />$3.00</p>
        </div>
      </div>
    </section>
  </main>


  <script src="script.js"></script>
</body>
</html>
