<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Turkey Melt - Taste Click</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Taste Click Logo" />
      <div>
        <h1>Taste Click</h1>
        <p>FOOD & DRINK</p>
      </div>
    </div>
    <nav>
      <a href="{{ url_for('index') }}">Menu</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('cart') }}">Cart</a>
    </nav>
  </header>

  <main class="product-detail">
    <a href="{{ url_for('index') }}" class="back-link">&larr; Back</a>
    <div class="product-wrapper">
      <img src="{{ url_for('static', filename='turkey.png') }}" alt="TurkeyMelt" class="detail-img" />
      <div class="details">
        <h2>Turkey Melt</h2>
        <p>$5.00</p>
        <p>Our turkey melt is a grilled sandwich with sliced turkey, melted swiss cheese, and mayonnaise on fresh, made from scratch sourdough bread. Additional condiment(mustard, pickles, onions) available upon request. </p>
        <button onclick="addToCart('TurkeyMelt', 5.0)">Add to Cart</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </main>
</body>
</html>
